div{
background: rgba(251, 63, 63, 0.137);
background: radial-gradient(circle, rgba(251, 63, 63, 0.116) 5%, rgba(236, 112, 139, 0.116) 24%, rgba(211, 58, 206, 0.123) 50%, rgba(110, 19, 163, 0.123) 75%, rgba(33, 8, 13, 0.112) 100%);
    /* purple */
color: rgb(86, 78, 223);
/* pink */
    color: rgb(255, 97, 124);;
    /* neutral */
    color: rgb(240, 244, 255);

    /* lavender */
    color: rgb(107, 109, 158);
    /* dark */
    color: rgb(99, 34, 143);
    /* border */
    color: rgb(240, 244, 255); 

/* purple */
    color: rgb(202, 182, 241);
    color: #0c0514;
    align-items: baseline;
    text-align: right;
}
